@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --grid-cols: 1;
    --grid-rows: 1;

    --dark: hsl(210, 75%, 3%);
    --light: hsl(208, 100%, 97%);
    --border: hsl(308, 66%, 31%);
    --accent: hsl(340, 75%, 50%);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    height: 95vh;
}

ul{
    list-style: none;
}

button,
input{
    background-color: transparent;
    margin: 20px;
    padding: 0 15px;
    border: 2px solid var(--border);
    color: var(--light);
    font-size: 16px;
    border-radius: 15px;
    transition: all 115ms ease-in;
    cursor: pointer;
}

button:hover,
input:hover{
    background-color: var(--border);
}

input{
    width: 78px;
}

.toolbar{
    position: absolute;
    left: 20%;
    top: 30%;
}

#grid{
    display: grid;
    height: 560px;
    width: 560px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item{
    background-color: var(--light);
    border: 1px solid var(--dark);
    text-align: center;
}

#rainbow{
    animation: color-rotate 300ms;
    animation-iteration-count: 15;
    animation-direction: alternate;
}

@keyframes color-rotate{
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

#warm{
    animation: warm-rotate 300ms;
    animation-iteration-count: 15;
    animation-direction: alternate;
}

@keyframes warm-rotate{
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(100deg);
    }
}

#cool{
    animation: cool-rotate 300ms;
    animation-iteration-count: 15;
    animation-direction: alternate;
}

@keyframes cool-rotate{
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(-50deg);
    }
}